# Binaries
/bin
/dist
cmd/server/server
server
*.exe
*.exe~
*.dll
*.so
*.dylib

# Environment Variables (NEVER commit these)
.env
README.md
README*

# IDE Specifics
.vscode/
.idea/
.DS_Store

# OS Specifics
Thumbs.db

# Vendor (if we decide to vendor dependencies later, usually ignored in Go modules)
vendor/